@use "../base/vars" as v;

.cart-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 3px solid v.$grass;
    border-radius: v.$radius;
    overflow: hidden;

    h3 {
        align-self: flex-end;
        margin: 10px 20px 0 0;
        font-size: 1.8rem;
        font-weight: 400;
        color: v.$grass;
    }

    img {
        width: 80%;
    }

    .content-name {
        width: 100%;
        height: 70px;
        background: v.$grass;

        h4 {
            font-size: 1.8rem;
            font-weight: 400;
            text-align: center;
            line-height: 70px;
            color: v.$white;
            text-transform: capitalize;
        }
    }
}

.bug {
    border-color: v.$bug;

    h3 {
        color: v.$bug;
    }

    .content-name {
        background: v.$bug;
    }
}

.dark {
    border-color: v.$dark;

    h3 {
        color: v.$dark;
    }

    .content-name {
        background: v.$dark;
    }
}

.dragon {
    border-color: v.$dragon;

    h3 {
        color: v.$dragon;
    }

    .content-name {
        background: v.$dragon;
    }
}

.electric {
    border-color: v.$electric;

    h3 {
        color: v.$electric;
    }

    .content-name {
        background: v.$electric;
    }
}

.fairy {
    border-color: v.$fairy;

    h3 {
        color: v.$fairy;
    }

    .content-name {
        background: v.$fairy;
    }
}

.fight {
    border-color: v.$fight;

    h3 {
        color: v.$fight;
    }

    .content-name {
        background: v.$fight;
    }
}

.fire {
    border-color: v.$fire;

    h3 {
        color: v.$fire;
    }

    .content-name {
        background: v.$fire;
    }
}

.flying {
    border-color: v.$flying;

    h3 {
        color: v.$flying;
    }

    .content-name {
        background: v.$flying;
    }
}

.ghost {
    border-color: v.$ghost;

    h3 {
        color: v.$ghost;
    }

    .content-name {
        background: v.$ghost;
    }
}

.grass {
    border-color: v.$grass;

    h3 {
        color: v.$grass;
    }

    .content-name {
        background: v.$grass;
    }
}

.ground {
    border-color: v.$ground;

    h3 {
        color: v.$ground;
    }

    .content-name {
        background: v.$ground;
    }
}

.ice {
    border-color: v.$ice;

    h3 {
        color: v.$ice;
    }

    .content-name {
        background: v.$ice;
    }
}

.normal {
    border-color: v.$normal;

    h3 {
        color: v.$normal;
    }

    .content-name {
        background: v.$normal;
    }
}

.poison {
    border-color: v.$poison;

    h3 {
        color: v.$poison;
    }

    .content-name {
        background: v.$poison;
    }
}

.psychic {
    border-color: v.$psychic;

    h3 {
        color: v.$psychic;
    }

    .content-name {
        background: v.$psychic;
    }
}

.rock {
    border-color: v.$rock;

    h3 {
        color: v.$rock;
    }

    .content-name {
        background: v.$rock;
    }
}

.steel {
    border-color: v.$steel;

    h3 {
        color: v.$steel;
    }

    .content-name {
        background: v.$steel;
    }
}

.water {
    border-color: v.$water;

    h3 {
        color: v.$water;
    }

    .content-name {
        background: v.$water;
    }
}

