@use "../base/vars" as v;

.contenedor-principal {
    position: relative;
    width: 100%;
    overflow: hidden;

    .contenedor-slideshow {
        display: flex;
        gap: 15px;
        overflow-x: scroll;
        /* SLIDE */
    }

    .controles {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        pointer-events: none; /* permite definir a que elemento le damos prioridad sobre el pointer */
        
        button {
            border: none;
            line-height: 56px;
            font-size: 1.3rem;
            border-radius: 1rem;
            background: rgba(66,65,65,0.25);
            color: v.$white;
            cursor: pointer;
            outline: none;
            pointer-events: all; /* al quitar el pointer-event del contenedor .controles debemos agregar pointer event al button para que funcionen */
            width: 50px;
            height: 50px;
            transition: all .3s ease-in-out;
        }
    }
}

@media screen and (min-width: 1024px) {
    .contenedor-principal {
    
        .contenedor-slideshow {
            justify-content: center;
        }
    }
}

